@import url('../../nullstyle.css');


.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.menu {
  margin-top: 62px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 135px;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  /* font-family: Cal Sans; */
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.nav {
  gap: 56px;
  display: flex;
}

.app-info {
  width: 470px;
  margin: 144px 179px 0px 0px;
}

.title {
  /* font-family: Cal Sans; */
  font-size: 56px;
  font-weight: 600;
  line-height: 67px;
}

.title span {
  color: rgba(255, 100, 40, 1);
}

.text {
  margin-top: 16px;
  /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.buttons {
  margin-top: 33px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.buttons button {
  outline: none;
  border: none;
  background: none;
}

.buttons button:first-child {
  color: #fff;
  padding: 18px 48px;
  border-radius: 40px;
  background: rgba(255, 100, 40, 1);
}

.picture {
  position: relative;
}

.picture .butterfly-ico{
  position: absolute;
  bottom: -5%;
  left: 50%;
  padding: 28px;
  border-radius: 50%;
  background-color: #fff;
}